@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");

/* jumbotron */
@import url("jumbotron.css");

* {
  font-family: "Rubik", sans-serif, monospace;
}

.navbar-brand img {
  height: 70px;
}

.nav-link {
  font-size: 16px;
}

.jumlah-anggota {
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 10px;
}
.jumlah-anggota .display-4 {
  font-size: 24px;
  color: #0b132a;
  font-weight: bold;
  margin-bottom: 16px;
}

.jumlah-anggota .divider {
  height: 70px;
  border: 1px solid rgba(202, 202, 202, 0.37);
  background-color: #eeeff2;
}

.jumlah-anggota .profile-img img {
  height: 55px;
  width: 55px;
}
/* Jumbtron End */

.angkatan {
  margin-top: -10px;
  color: #4f5665;
}

/* Visi Misi */
.visi-misi {
  color: #4f5665;
  margin-top: 150px;
  margin-bottom: 150px;
}
.visi-misi img {
  height: 300px;
}

.visi-misi h1 {
  font-size: 35px;
  color: #0b132a;
  font-weight: 600;
}

.visi-misi p span {
  font-weight: bold;
}
.visi-misi p {
  font-size: 16px;
}
/* Visi Misi End */

/* Gallery */

.container .row .gallery-image .img-thumbnail {
  border-radius: 10px;
}

.mybtn {
  width: 200px;
  margin: 20px 0;
  padding: 10px;
  font-family: inherit;
  font-weight: bolder;
  color: white;
  border-radius: 10px;
  border: none;
  background: linear-gradient(93.3deg, #f9f770 0.02%, #ff7551 100.02%);
  box-shadow: 0 10px 40px 5px rgba(54, 54, 54, 0.34);
  -webkit-box-shadow: 0 15px 40px 5px rgba(54, 54, 54, 0.34);
}
/* Gallery End */

/* Artikel */
.artikel {
  margin-top: 150px;
}

.container .card {
  border: 2px solid #ffbf1a;
  border-radius: 10px;
  box-sizing: border-box;
  margin-top: 20px;
  padding: 20px;
  width: 350px;
}

.container .card .card-img-top {
  border: 2px solid #dddddd;
  border-radius: 10px;
}

.container .card .card-body .card-text {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Arrow Slider */
.splide .arrows .arrow {
  height: 57px;
  width: 57px;
}

.splide .arrows .arrow-prev {
  border: 2px solid #ffbf1a;
  background-color: white;
}

.splide .arrows .arrow-prev img {
  width: 35px;
  height: 35px;
}

.splide .arrows .arrow-next {
  border: 2px solid #ffbf1a;
  background-color: #ffbf1a;
}

.splide .arrows .arrow-next img {
  width: 35px;
  height: 35px;
}
/* Arrow Slider End */

/* Pagination Slider */
.splide .splide-pagination {
  position: absolute;
  bottom: -50px;
}

.splide .splide-pagination .splide-pagination-page {
  width: 15px;
  height: 15px;
  border: 2px solid #ffbf1a;
  background-color: white;
}

.splide .splide-pagination .is-active {
  background-color: #ffbf1a;
  border: none;
}
/* Pagination Slider End */

/* Kontak */
.contact {
  margin-top: 200px;
  padding: 55px 70px;
}

.contact .d-flex {
  flex: 3;
}

.contact p {
  font-size: 14px;
}

.containerSocialIcons a img {
  width: 90px;
  height: 90px;
}
/* Kontak End*/

/* Footer */
footer p {
  color: #cacaca;
  font-weight: 200;
}
/* Footer End*/
